<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.photoshop3">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Aditya"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".imagesActivity_Fav2"></activity>
        <activity android:name=".imagesActivity_Fav1"    android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".imageActivity_2"        android:theme="@style/Theme.AppCompat.NoActionBar"  />
        <activity android:name=".ViewActivity_people"    android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ViewActivity_wallpaper" android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".My_Profile" />
        <activity android:name=".login_Activity" android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".HomeActivity3" />
        <activity android:name=".login_admin" />
        <activity android:name=".people_images" />
        <activity android:name=".favourite" />
        <activity android:name=".wallepaper" />
        <activity android:name=".ViewActivity"       android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".imageViewActivity"  android:windowSoftInputMode="stateHidden" />
        <activity android:name=".HomeActivity2" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.your package      name.utility.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_icons8_instagram" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />


    </application>

</manifest>